((ENTRY rb_Word  (E ('*e1')) ('*s2*e3')) Word   ('*e1') ('*s2*e3'))
(CONF Word2  (('*e1') '*e2'))
(CONF Words  ('*e1'))
((ENTRY rb_Index (E ('*e1')) ('*s2*e3')) Index  ('*e1') ('*s2*e3'))
(CONF Index0  ('*e1'))
(CONF Index3  (('*st*ei') '*ex'))
((ENTRY rb_Isvar (T ('*s1')) ('*s2*s3')) Isvar  ('*s1') ('*s2*s3'))
((ENTRY rb_Isdelim (T ('*s1')) ('*s2')) Isdelim  ('*s1') ('*s2'))
((ENTRY rb_Number (E ('*e1') E ('*e2')) ('*s3*e4'))
       Number (('*e1') '*e2') ('*s3*e4'))
(CONF Hexchar ('*ex'))
(CONF Hexdigit ('*tx'))
(CONF Chr ('*s1'))
(CONF Numb ('*e1'))
(CONF Implode ('*eA'))
(CONF Compind ('*eA'))
((ENTRY rb_Skipc (E ('*e1')) ('*sx*ey'))    Skipc ('*e1') ('*sx*ey'))
((ENTRY rb_Oneof (T ('*s1') E ('*e2')) ('*s3'))   Oneof ('*s1*e2') ('*s3'))
((ENTRY rb_String (T ('*s1') E ('*e2') E ('*e3')) ('*e4*e5'))
                  String ('*s1' ('*e2') '*e3') (('*e4') '*e5'))
