(CONF Continue  ('*e1'))
(CONF Fname  ('*e1'))
(CONF Delsc  ('*e1'))
(CONF USE  ('*sx'))
(CONF Cfun ('*ex'))
(CONF Testvar ('*sD' ('*sx*si') '*eV'))
(CONF Tbox  ('*sx*e1'))
(CONF Tdbox  ('*e1'))
(CONF Boxg  ('*sx*e1'))
(CONF Skip  (('*e1') ('*e2') '*e3'))
(CONF Skip1 (('*e1') ('*e2') '*e3'))
(CONF Skip2 (('*e1') ('*e2') '*sx*e3'))
(CONF Skipt (('*e1') ('*e2') '*e3'))
(CONF Table_value ('*eA'))
(CONF Pexpr ('*sD' ('*eA') ('*eV') '*eX') (('*eB') ('*eV') '*eW') )
(CONF Lextype ('*st'))
(CONF Serr ('*ex') ('*t1*e2'))
(CONF Cbody ('*sD' ('*ev') '*ex')   ('*eb' ('*et') '*sr'))
(CONF Check ('*ts*tv'))
(CONF ERRIFC ('*e1'))
(CONF ERRUNP ('*e1'))
(CONF ERREXP ('*e1'))
(CONF Mkgroup ('*e1'))
